
{% extends 'layout.html' %}

{% load static %}
{% load humanize %}



{% block content %}


<div class="boxed_wrapper">




    <!--Page Title-->
    <section class="page-title-two bg-color-1 centred">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
            <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Property Details {{ project.id }}</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Property Details {{ project.id }}</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- property-details -->
    <section class="property-details property-details-one">
        <div class="auto-container">
            <div class="top-details clearfix">
                <div class="left-column pull-left clearfix">
                    <h3>{{ project.title }}</h3>
                    <div class="author-info clearfix">
                        <div class="author-box pull-left">


                        </div>
                        
                    </div>
                </div>
                <div class="right-column pull-right clearfix">
                    <div class="price-inner clearfix">
                        <ul class="category clearfix pull-left">
                            <li><a href="">{{ project.category }}</a></li>
                            <!-- <li><a href="property-details.html">For Buy</a></li> -->
                        </ul>
                        <div class="price-box pull-right">
                            <h3>{{ project.price }} TK</h3>
                        </div>
                    </div>
                   
                    <a href="" class="theme-btn btn-one">Initiate project</a>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="property-details-content">
                        <div class="carousel-inner">
                            <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
                                {% if project.photo_1 %}
                                <figure class="image-box"><img src="{{ project.photo_1.url }}" alt=""></figure>
                                {% endif %}

                                {% if project.photo_2 %}
                                <figure class="image-box"><img src="{{ project.photo_2.url }}" alt=""></figure>
                                {% endif %}

                                {% if project.photo_3 %}
                                <figure class="image-box"><img src="{{ project.photo_3.url }}" alt=""></figure>
                                {% endif %}

                                {% if project.photo_4 %}
                                <figure class="image-box"><img src="{{ project.photo_4.url }}" alt=""></figure>
                                {% endif %}

                                {% if project.photo_5 %}
                                <figure class="image-box"><img src="{{ project.photo_5.url }}" alt=""></figure>
                                {% endif %}

                                {% if project.photo_6 %}
                                <figure class="image-box"><img src="{{ project.photo_6.url }}" alt=""></figure>
                                {% endif %}
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="property-details-content">
                        <div class="discription-box content-widget">
                            <div class="title-box">
                                <h4>Property Description</h4>
                            </div>
                            <div class="text">
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                        <div class="text">
                            <p>{{ project.short_description }}</p>
                        </div>
                    </div>
                    <div class="details-box content-widget">
                        <div class="title-box">
                            <h4>Property Details</h4>
                        </div>
                        <ul class="list clearfix">
                            <li>Property Price: <span>{{ project.price }} TK</span></li>
                            <li>Posted on: <span>{{ project.list_date }}</span></li>
                            <li>Property Type: <span>{{ project.category }}</span></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>





        <!-- jequery plugins -->
        <script src="{% static 'bowl/js/jquery.js' %}"></script>
        <script src="{% static 'bowl/js/popper.min.js' %}"></script>
        <script src="{% static 'bowl/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bowl/js/owl.js' %}"></script>
        <script src="{% static 'bowl/js/wow.js' %}"></script>
        <script src="{% static 'bowl/js/validation.js' %}"></script>
        <script src="{% static 'bowl/js/jquery.fancybox.js' %}"></script>
        <script src="{% static 'bowl/js/appear.js' %}"></script>
        <script src="{% static 'bowl/js/scrollbar.js' %}"></script>
        <script src="{% static 'bowl/js/isotope.js' %}"></script>
        <script src="{% static 'bowl/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'bowl/js/jQuery.style.switcher.min.js' %}"></script>
        <script src="{% static 'bowl/js/jquery-ui.js' %}"></script>
        <script src="{% static 'bowl/js/product-filter.js' %}"></script>
        <script src="{% static 'bowl/js/timePicker.js' %}"></script> 

        <!-- map script -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
        <script src="{% static 'bowl/js/gmaps.js' %}"></script>
        <script src="{% static 'bowl/js/map-helper.js' %}"></script>

        <!-- main-js -->
        <script src="{% static 'bowl/js/script.js' %}"></script>


    </div>






    {% endblock %}